@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  letter-spacing: 1.7px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  flex: none;
  width: 100vw;
  max-width: 100%;
  min-width: 1060px;
  height: 8%;
  min-height: 110px;
  padding: 0 85px;
  display: flex;
  align-items: center;
}
.header_nav {
  min-width: 1060px;
  height: 100%;
  display: flex;
  align-items: center;
}
.header_nav_item {
  display: flex;
}
.header_nav_link, .header_nav .fa-search {
  padding: 20px 2vw;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_nav_link {
  font-weight: 500;
}
.header_nav_link:hover .aline {
  width: 100%;
}

.aline {
  width: 0;
  height: 2px;
  background-color: black;
  margin-top: 2px;
  transition: 0.2s ease 0.1s;
}

.logo {
  position: absolute;
  width: 6vw;
  height: 6vw;
  min-width: 80px;
  max-width: 120px;
  max-height: 120px;
  min-height: 80px;
  background-color: black;
  text-align: right;
  color: white;
  right: 85px;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 0.3%;
  font-size: 15px;
}
.logo-text > span {
  font-size: 10px;
}

.intro {
  color: white;
  width: 40vw;
  height: 100vh;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
}
.intro > h1 {
  font-size: calc(38px + 2vw);
  letter-spacing: 4px;
}
.intro > p {
  margin-top: 50px;
  padding-right: 30px;
  font-size: 19px;
}
.intro > a {
  margin-top: 2vw;
  color: white;
}

.link-d {
  display: block;
  font-size: 20px;
  font-weight: 550;
}
.link-d > span {
  transition: all 0.1s ease 0.1s;
  padding-left: 4px;
}
.link-d:hover > span {
  padding-left: 14px;
}

.grid {
  width: 2000px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 3vw 3vw 3vw 3vw;
}
.grid-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.grid-item:hover > img {
  transform: scale(1.07);
}

.outro {
  width: 70vw;
  height: 100vh;
  background-color: cornflowerblue;
}

.outer-layout {
  position: absolute;
  top: 0;
  z-index: -100;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.layout {
  padding-top: 110px;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  display: flex;
  flex-direction: row;
  width: calc(110vw + 2000px);
}

::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=vg-style.css.map */
